body{
  background-color: black;
  font-family: verdana, sans-serif;

}
h1{
  font-size:50px;
  font-weight: normal;
  text-align: center;
}
h2{
  font-size: 42px;
  font-weight: 300;
  font-size: 42px;
}
video{
  object-fit: contain;
}
p{
  color: gray;
  font-size: 21px;
  text-align:center;
}
.cta{
  color: aquamarine;
  font-size:16px;
}
.footer{
  text-align:right;
  color:gray;
}
